USE [master]
GO
/****** Object:  Database [Amazon]    Script Date: 28.02.2026 22:27:08 ******/
CREATE DATABASE [Amazon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Amazon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Amazon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Amazon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Amazon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Amazon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Amazon]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[email] [varchar](100) NOT NULL,
	[user_type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[buyer_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[city] [varchar](100) NOT NULL,
	[gender] [char](1) NOT NULL,
	[birthdate] [date] NOT NULL,
	[job_title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[buyer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Cart_Item] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[discount_name] [varchar](100) NOT NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[unit_discount] [decimal](10, 2) NOT NULL,
	[final_unit_price]  AS ([unit_price]-[unit_discount]),
	[sub_total]  AS ([quantity]*([unit_price]-[unit_discount])),
	[discount_id] [int] NULL,
 CONSTRAINT [PK_Order_Item] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[total_qty] [int] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[order_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[cart_id] [int] NOT NULL,
	[attempt_number] [int] NOT NULL,
	[payment_type] [varchar](30) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC,
	[attempt_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](100) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[seller_id] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[brand_name] [varchar](50) NOT NULL,
	[rating] [decimal](3, 2) NOT NULL,
	[review_count] [int] NOT NULL,
	[uploaded_at] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[buyer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[review_date] [datetime] NOT NULL,
	[rating] [int] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[buyer_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[seller_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[city] [varchar](100) NOT NULL,
	[gender] [char](1) NOT NULL,
	[birthdate] [date] NOT NULL,
	[seller_type] [varchar](20) NOT NULL,
	[store_name] [varchar](100) NOT NULL,
	[store_rating] [decimal](3, 2) NOT NULL,
	[join_date] [date] NOT NULL,
	[job_title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[order_id] [int] NOT NULL,
	[tracking_number] [varchar](100) NULL,
	[shipping_cost] [decimal](10, 2) NOT NULL,
	[in_transit_date] [datetime] NULL,
	[delivered_date] [datetime] NULL,
	[status] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Shipment] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 28.02.2026 22:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[buyer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[added_at] [datetime] NOT NULL,
	[removed_at] [datetime] NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[buyer_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([email], [user_type]) VALUES (N'both1@mail.com', N'SELLER')
INSERT [dbo].[Account] ([email], [user_type]) VALUES (N'both10@mail.com', N'SELLER')
INSERT [dbo].[Account] ([email], [user_type]) VALUES (N'both11@mail.com', N'SELLER')
GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([buyer_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [job_title]) VALUES (1, N'u100@mail.com', N'Andrea', N'Lopez', N'Spain', N'Madrid', N'F', CAST(N'1998-04-30' AS Date), N'Student')
INSERT [dbo].[Buyer] ([buyer_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [job_title]) VALUES (2, N'u101@mail.com', N'Tristan', N'Cole', N'USA', N'New York', N'M', CAST(N'1996-05-22' AS Date), N'Engineer')
INSERT [dbo].[Buyer] ([buyer_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [job_title]) VALUES (3, N'u102@mail.com', N'Violet', N'Pierce', N'UK', N'London', N'F', CAST(N'1997-07-18' AS Date), N'Designer')
GO
SET IDENTITY_INSERT [dbo].[Buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [buyer_id], [created_at]) VALUES (1, 1, CAST(N'2025-01-02T10:05:00.000' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [buyer_id], [created_at]) VALUES (2, 2, CAST(N'2025-01-03T12:20:00.000' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [buyer_id], [created_at]) VALUES (3, 3, CAST(N'2025-01-05T09:40:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[Cart_Item] ([cart_id], [product_id], [quantity]) VALUES (1, 12, 1)
INSERT [dbo].[Cart_Item] ([cart_id], [product_id], [quantity]) VALUES (1, 23, 1)
INSERT [dbo].[Cart_Item] ([cart_id], [product_id], [quantity]) VALUES (1, 66, 1)
GO
INSERT [dbo].[Category] ([category_name]) VALUES (N'Automotive')
INSERT [dbo].[Category] ([category_name]) VALUES (N'Beauty')
INSERT [dbo].[Category] ([category_name]) VALUES (N'Books')
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discount_id], [product_id], [discount_name], [discount_type], [discount_value], [start_date], [end_date]) VALUES (1, 30, N'Black Friday', N'percentage', CAST(25.00 AS Decimal(10, 2)), CAST(N'2025-11-24' AS Date), CAST(N'2025-11-30' AS Date))
INSERT [dbo].[Discount] ([discount_id], [product_id], [discount_name], [discount_type], [discount_value], [start_date], [end_date]) VALUES (2, 21, N'Black Friday', N'percentage', CAST(25.00 AS Decimal(10, 2)), CAST(N'2025-11-24' AS Date), CAST(N'2025-11-30' AS Date))
INSERT [dbo].[Discount] ([discount_id], [product_id], [discount_name], [discount_type], [discount_value], [start_date], [end_date]) VALUES (3, 22, N'Black Friday', N'percentage', CAST(25.00 AS Decimal(10, 2)), CAST(N'2025-11-24' AS Date), CAST(N'2025-11-30' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
INSERT [dbo].[Order_Item] ([order_id], [product_id], [quantity], [unit_price], [unit_discount], [discount_id]) VALUES (1, 23, 1, CAST(29.99 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Order_Item] ([order_id], [product_id], [quantity], [unit_price], [unit_discount], [discount_id]) VALUES (1, 66, 1, CAST(24.99 AS Decimal(10, 2)), CAST(4.50 AS Decimal(10, 2)), 16)
INSERT [dbo].[Order_Item] ([order_id], [product_id], [quantity], [unit_price], [unit_discount], [discount_id]) VALUES (2, 29, 1, CAST(34.90 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [cart_id], [total_qty], [total_price], [order_date]) VALUES (1, 1, 2, CAST(50.48 AS Decimal(10, 2)), CAST(N'2025-01-02T10:20:00.000' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [cart_id], [total_qty], [total_price], [order_date]) VALUES (2, 2, 3, CAST(52.28 AS Decimal(10, 2)), CAST(N'2025-01-03T12:36:00.000' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [cart_id], [total_qty], [total_price], [order_date]) VALUES (3, 3, 2, CAST(58.76 AS Decimal(10, 2)), CAST(N'2025-01-05T09:58:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Payment] ([cart_id], [attempt_number], [payment_type], [payment_status]) VALUES (1, 1, N'Credit Card', N'Success')
INSERT [dbo].[Payment] ([cart_id], [attempt_number], [payment_type], [payment_status]) VALUES (2, 1, N'Debit Card', N'Success')
INSERT [dbo].[Payment] ([cart_id], [attempt_number], [payment_type], [payment_status]) VALUES (3, 1, N'Credit Card', N'Success')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [product_name], [category_name], [seller_id], [unit_price], [stock_quantity], [brand_name], [rating], [review_count], [uploaded_at]) VALUES (1, N'Wireless Headphones X1', N'Electronics', 1, CAST(119.99 AS Decimal(10, 2)), 40, N'Sony', CAST(4.60 AS Decimal(3, 2)), 120, CAST(N'2024-01-05' AS Date))
INSERT [dbo].[Products] ([product_id], [product_name], [category_name], [seller_id], [unit_price], [stock_quantity], [brand_name], [rating], [review_count], [uploaded_at]) VALUES (2, N'Smartphone A52 Pro', N'Electronics', 1, CAST(799.00 AS Decimal(10, 2)), 30, N'Samsung', CAST(4.70 AS Decimal(3, 2)), 220, CAST(N'2024-01-06' AS Date))
INSERT [dbo].[Products] ([product_id], [product_name], [category_name], [seller_id], [unit_price], [stock_quantity], [brand_name], [rating], [review_count], [uploaded_at]) VALUES (3, N'Laptop Ultra 14', N'Electronics', 1, CAST(1399.00 AS Decimal(10, 2)), 20, N'Dell', CAST(4.50 AS Decimal(3, 2)), 140, CAST(N'2024-01-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Review] ([buyer_id], [product_id], [review_date], [rating]) VALUES (1, 12, CAST(N'2025-01-06T18:22:00.000' AS DateTime), 4)
INSERT [dbo].[Review] ([buyer_id], [product_id], [review_date], [rating]) VALUES (1, 23, CAST(N'2025-01-06T18:25:00.000' AS DateTime), 3)
INSERT [dbo].[Review] ([buyer_id], [product_id], [review_date], [rating]) VALUES (1, 29, CAST(N'2025-11-28T10:22:00.000' AS DateTime), 4)
GO
SET IDENTITY_INSERT [dbo].[Seller] ON 

INSERT [dbo].[Seller] ([seller_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [seller_type], [store_name], [store_rating], [join_date], [job_title]) VALUES (1, N'seller1@mail.com', N'Kevin', N'Anderson', N'USA', N'Chicago', N'M', CAST(N'1990-04-11' AS Date), N'Electronics', N'TechZone Electronics', CAST(4.50 AS Decimal(3, 2)), CAST(N'2023-01-10' AS Date), N'Engineer')
INSERT [dbo].[Seller] ([seller_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [seller_type], [store_name], [store_rating], [join_date], [job_title]) VALUES (2, N'seller2@mail.com', N'Laura', N'Martin', N'UK', N'Manchester', N'F', CAST(N'1989-02-09' AS Date), N'Fashion', N'FashionWorld Boutique', CAST(4.80 AS Decimal(3, 2)), CAST(N'2023-02-15' AS Date), N'Entrepreneur')
INSERT [dbo].[Seller] ([seller_id], [email], [first_name], [last_name], [country], [city], [gender], [birthdate], [seller_type], [store_name], [store_rating], [join_date], [job_title]) VALUES (3, N'seller3@mail.com', N'Brian', N'Lee', N'Germany', N'Hamburg', N'M', CAST(N'1992-03-15' AS Date), N'Home', N'HomePlus Living Store', CAST(4.20 AS Decimal(3, 2)), CAST(N'2023-03-20' AS Date), N'Entrepreneur')
SET IDENTITY_INSERT [dbo].[Seller] OFF
GO
INSERT [dbo].[Shipment] ([order_id], [tracking_number], [shipping_cost], [in_transit_date], [delivered_date], [status]) VALUES (1, N'TRK-20250102-0001', CAST(29.90 AS Decimal(10, 2)), CAST(N'2025-01-02T12:10:00.000' AS DateTime), CAST(N'2025-01-03T15:40:00.000' AS DateTime), N'Delivered')
INSERT [dbo].[Shipment] ([order_id], [tracking_number], [shipping_cost], [in_transit_date], [delivered_date], [status]) VALUES (2, NULL, CAST(24.90 AS Decimal(10, 2)), NULL, NULL, N'Preparing')
INSERT [dbo].[Shipment] ([order_id], [tracking_number], [shipping_cost], [in_transit_date], [delivered_date], [status]) VALUES (3, N'TRK-20250105-0003', CAST(19.90 AS Decimal(10, 2)), CAST(N'2025-01-05T14:20:00.000' AS DateTime), NULL, N'In Transit')
GO
INSERT [dbo].[Wishlist] ([buyer_id], [product_id], [added_at], [removed_at]) VALUES (1, 12, CAST(N'2025-07-01T10:10:00.000' AS DateTime), NULL)
INSERT [dbo].[Wishlist] ([buyer_id], [product_id], [added_at], [removed_at]) VALUES (1, 21, CAST(N'2025-11-25T18:28:00.000' AS DateTime), NULL)
INSERT [dbo].[Wishlist] ([buyer_id], [product_id], [added_at], [removed_at]) VALUES (1, 23, CAST(N'2025-01-02T10:18:00.000' AS DateTime), CAST(N'2025-01-02T10:20:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buyer__AB6E6164BEB6C2D9]    Script Date: 28.02.2026 22:27:08 ******/
ALTER TABLE [dbo].[Buyer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Orders_Cart]    Script Date: 28.02.2026 22:27:08 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ_Orders_Cart] UNIQUE NONCLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Seller__AB6E61643535A675]    Script Date: 28.02.2026 22:27:08 ******/
ALTER TABLE [dbo].[Seller] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order_Item] ADD  DEFAULT ((0)) FOR [unit_discount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [total_qty]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [review_count]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([date],getdate())) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT (CONVERT([date],getdate())) FOR [join_date]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_Account] FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[Buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Buyer]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Product]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_Product]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Discount] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discount] ([discount_id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_OrderItem_Discount]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [FK_OrderItem_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cart]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Cart]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CategoryName] FOREIGN KEY([category_name])
REFERENCES [dbo].[Category] ([category_name])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CategoryName]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Seller] FOREIGN KEY([seller_id])
REFERENCES [dbo].[Seller] ([seller_id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Seller]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[Buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Buyer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_Account] FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_Account]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_Shipment_Order]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[Buyer] ([buyer_id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Buyer]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Account_UserType] CHECK  (([user_type]='SELLER' OR [user_type]='BUYER'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Account_UserType]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [CK_Discount_DateRange] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [CK_Discount_DateRange]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [CK_Discount_Type] CHECK  (([discount_type]='amount' OR [discount_type]='percentage'))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [CK_Discount_Type]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [CK_Discount_Value] CHECK  (([discount_value]>=(0)))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [CK_Discount_Value]
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD CHECK  (([unit_discount]>=(0)))
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_DiscountNotMoreThanPrice] CHECK  (([unit_discount]<=[unit_price]))
GO
ALTER TABLE [dbo].[Order_Item] CHECK CONSTRAINT [CK_OrderItem_DiscountNotMoreThanPrice]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([total_qty]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_AttemptNumber] CHECK  (([attempt_number]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_AttemptNumber]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([payment_status]='Failed' OR [payment_status]='Success'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Type] CHECK  (([payment_type]='Debit Card' OR [payment_type]='Credit Card'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([rating]>=(0) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([review_count]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD CHECK  (([store_rating]>=(0) AND [store_rating]<=(5)))
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [CK_Shipment_ShippingCost] CHECK  (([shipping_cost]>=(0)))
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [CK_Shipment_ShippingCost]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [CK_Shipment_Status] CHECK  (([status]='Cancelled' OR [status]='Delivered' OR [status]='In Transit' OR [status]='Preparing'))
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [CK_Shipment_Status]
GO
USE [master]
GO
